/* COLOURS
background- #f3efe1
background2- #f8f6ef
coconut- #e5e4df
oat- #eee2d3
rice- #eadac1
almond- #eadac1
*/


/*------------------------------------------------------------ 
BASIC SETUP
------------------------------------------------------------*/

@font-face{
    font-family: 'cheb';
    src: url(../../vendors/fonts/cheboyga.ttf);
}
@font-face{
    font-family: 'averia-light';
    src: url(../../vendors/fonts/averiaserif-light.ttf);
}
@font-face{
    font-family: 'averia-reg';
    src: url(../../vendors/fonts/averiaserif-regular.ttf);
}
@font-face{
    font-family: 'averia-bold';
    src: url(../../vendors/fonts/averiaserif-bold.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizelegibility;
    color: rgb(0, 0, 0);
}

:root{
    --bg:#f3efe1;
    --bg2:#f8f6ef;
    --coconut: #e5e4df;
    --oat: #eee2d3;
    --rice:#eadac1;
}

html {
    background-color: #f3efe1;
    color: rgb(0, 0, 0);
    font-size: 20px;
     
}

body{
    border-right: 0.5em solid #FFF;
    border-left: 0.7em solid #FFF;
    overflow-x: hidden;
}

.clearfix {zoom: 1;}
.clearfix::after {
    content: '.';
    clear: both;
    display: block;
    height: 0px;
    visibility: hidden;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/*------------------------------------------------------------ 
REUSABLE COMPONENTS
------------------------------------------------------------*/
section {
    max-width: 100%;
    max-height: 100vh;
}
.row {
    max-width: 1140px;
    margin: 0 auto;
}

p{
    font-family: 'Encode Sans', sans-serif;
    font-weight: 400;
    font-size: 80%;
}

h1 {
    font-family: 'averia-bold';
    font-size: 300%;
}
h2 {
    font-family: 'averia-reg';
}
h3 {
    font-family: 'averia-light';
}


/* ----------------------------------------------------------
LANDING
------------------------------------------------------------*/


.landing-page:before{
    content: ' ';
    position: fixed;
    width: 100vw;
    height: 0.5em;
    background-color: #FFF;
    top: 0;
    left: 0;
    z-index: 999;
}

.landing-page{
    background-image: url(img/landing-bg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}

.logo img{
    display: block;
    position: absolute;
    height: 13vw;
    padding-left: 35%;
    margin-top: 10vh;
    
}

.landing-page:after{
    content: ' ';
    position: fixed;
    width: 100vw;
    height: 0.5em;
    background-color: #FFF;
    bottom: 0;
    left: 0;
    z-index: 999;
}

/*-------------------------------------------------------
SCROLL BAR
---------------------------------------------------------*/

::-webkit-scrollbar {
    width: 0.8em;
}

::-webkit-scrollbar-track {
	background-color: #e2e2e2
}

::-webkit-scrollbar-thumb {
    background-color: #b9b9b9;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #e9a883;
 }


 /*-------------------------------------------------------
NAV BAR
---------------------------------------------------------*/
.main-nav{
    position: relative;
    text-align: center;
    margin-right: 1em;
}
.main-nav li{
    position: relative;
    text-decoration: none;
    display: inline-flex;
    font-family:'averia-bold';
    font-size: 130%;
    margin: 0.5em 1em;
}

#logo-space {
    margin: 0 5em;
    color: transparent;
}

#logo-space a{
    color: transparent;
}


/*-------------------------------------------------------
MILK BOTTLES SEC
---------------------------------------------------------*/
.milk-bottle-section {
    list-style: none;
    width: 100%;
    height: 35vmax;
    padding: 0 5em;

}

.milk-bottle-section li {
    display: block;
    float: left;
    width: 25%; 
}

.milk-bottles {
    width: 100%;
    height: 80%;
    margin: 0;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    overflow: hidden;
}

.milk-bottles img{
    height: 100%;
    width: auto;
    margin-left: 25%;
    filter: drop-shadow( 0px 0px 16px #c4b8a8);
    -webkit-filter: drop-shadow( 0px 0px 16px #c4b8a8) drop-shadow( 20px 0px 8px #c4b8a8bd);
}
















/*-------------------------------------------------------
.section-meals{
    padding: 0;
}

.meals-showcase {
    list-style: none;
    width: 100%;
   
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%; 
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black;
}

.meal-photo img{
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;

}

.meal-photo img:hover{
    opacity: 1;
    transform: scale(1.03);
}


---------------------------------------------------------*/