/* COLOURS
background- #f3efe1
background2- #f8f6ef
coconut- #e5e4df
oat- #eee2d3
rice- #eadac1
almond- #eadac1
*/

/*------------------------------------------------------------ 
BASIC SETUP
------------------------------------------------------------*/

@font-face{
    font-family: 'cheb';
    src: url(../../vendors/fonts/cheboyga.ttf);
}
@font-face{
    font-family: 'averia-light';
    src: url(../../vendors/fonts/averiaserif-light.ttf);
}
@font-face{
    font-family: 'averia-reg';
    src: url(../../vendors/fonts/averiaserif-regular.ttf);
}
@font-face{
    font-family: 'averia-bold';
    src: url(../../vendors/fonts/averiaserif-bold.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizelegibility;
    color: rgb(0, 0, 0);
}

:root{
    --bg:#f3efe1;
    --bg2:#f8f6ef;
    --coconut: #e5e4df;
    --oat: #eee2d3;
    --rice:#eadac1;
}

html {
    background-color: var(--bg);;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

body{
    /*border-right: 0.5em solid #FFF;
    border-left: 0.7em solid #FFF;*/
    overflow-x: hidden;
}

.clearfix {zoom: 1;}
.clearfix::after {
    content: '.';
    clear: both;
    display: block;
    height: 0px;
    visibility: hidden;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/*------------------------------------------------------------ 
REUSABLE COMPONENTS
------------------------------------------------------------*/
section {
    max-width: 100%;
    max-height: 100vh;
}
.row {
    max-width: 1140px;
    margin: 0 auto;
}

p{
    font-family: 'Encode Sans', sans-serif;
    font-weight: 400;
    font-size: 1vmax;
    line-height: 30px
}

h1 {
    font-family: 'averia-bold';
    font-size: 300%;
}
h2 {font-family: 'averia-reg';}
h3 {font-family: 'averia-light';}

.icon-small{
    display: inline-block;
    text-align: center;
    color: #000000;
    font-size: 120%;
    width: 30px;
    margin-top: -2px;
    margin-right: 10px;
    
    /*secrets to alight text and icons*/
    line-height: 120%;
    vertical-align: middle;
}


/* ----------------------------------------------------------
LANDING
------------------------------------------------------------*/


.landing-page:before{
    content: ' ';
    position: fixed;
    width: 100vw;
    height: 0.5em;
    background-color: #FFF;
    top: 0;
    left: 0;
    z-index: 999;
}

.landing-page{
    background-image: url(img/landing-bg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}
.landing-page:after{
    content: ' ';
    position: fixed;
    width: 100vw;
    height: 0.5em;
    background-color: #FFF;
    bottom: 0;
    left: 0;
    z-index: 999;
}

.border-sides:before{
    content: ' ';
    position: fixed;
    width: 0.7em;
    height: 100vh;
    background-color: #FFF;
    top: 0;
    left: 0;
    z-index: 999;
}

.border-sides:after{
    content: ' ';
    position: fixed;
    width: 0.5em;
    height: 100vw;
    background-color: #FFF;
    right: 0;
    top: 0;
    z-index: 999;
}



.logo img{
    display: block;
    position: absolute;
    height: 13vw;
    padding-left: 35%;
    margin-top: 10vh;
    
}



/*-------------------------------------------------------
SCROLL BAR
---------------------------------------------------------*/

::-webkit-scrollbar {width: 0.8em;}

::-webkit-scrollbar-track {background-color: #e2e2e2}

::-webkit-scrollbar-thumb {
    background-color: #b9b9b9;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {background-color: #e9a883;}


 /*-------------------------------------------------------
NAV BAR
---------------------------------------------------------*/
.nav{
    background-color: #504a37;
    position: absolute;
}
.main-nav{
    position: relative;
    text-align: center;
    margin-right: 1em;
    margin-top: 1.5em;
    background-color: #bd9b21;
}
.main-nav li{
    position: relative;
    text-decoration: none;
    display: inline-flex;
    font-family:'averia-bold';
    font-size: 130%;
    margin: 0.5em 1em;
}

#logo-space {
    margin: 0 5em;
    color: transparent;
}

#logo-space a{ color: transparent;}


/*-------------------------------------------------------
MILK BOTTLES SEC
---------------------------------------------------------*/

.milk-bottle-section{
    height: 100vh;
    width: 100vw;
    position: relative;
    padding-top:14.5vmax;
    background-color: var(--bg);
}


.milk-bottle-grid {
    list-style: none;
    width: 100%;
    height: 35vmax;
    padding: 0 5em;
}

.milk-bottle-section li {
    display: block;
    float: left;
    width: 25%; 

}

.milk-bottles {
    width: 100%;
    height: 80%;
    margin: 0;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.milk-bottles img{
    height: 100%;
    width: auto;
    margin-left: 25%;
    filter: drop-shadow( 0px 0px 16px #c4b8a8);
    -webkit-filter: drop-shadow( 0px 0px 16px #c4b8a8);
}

.milk-bottles:hover{
    transform: translate(0, -40px);
    -webkit-transform: translate(0, -40px);
    -moz-transform: translate(0, -40px);
    -ms-transform: translate(0, -40px);
    -o-transform: translate(0, -40px);
}

.yummy{
    position: absolute;
    background-color: var(--bg);
    width: 100vw;
    top: 0;
    left: 0;
    margin-top: 33vmax;
    height: 21vmax;
    box-shadow: 0px -8px 16px #c4b8a83d;
    padding: 5vmax;
}

.yummy h2{
    font-size: 4vmax;
    font-family: 'averia-light';
    text-align: right;
    margin-right: 5vmax
}

.yummy p{text-align: left;}



/*-------------------------------------------------------
FOOTER
---------------------------------------------------------*/

footer{
    position: relative;
    background-color: rgb(175, 166, 162);
    bottom: 0;
    padding: 2vmax;
}
.the-lists{
    position: absolute;
    display: block;
    width: 96%;
    font-size: 110%;
}
.the-lists ul {list-style: none;}

.the-lists li{
    cursor: pointer;
    cursor: pointer;
    display: block;
    width: 140px;
    font-family: 'averia-bold';
    
}
.footer-nav ul{float: left;}

.f-nav {
    transition: color 0.3s;
    color: rgb(0, 0, 0);
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
}

.f-nav:hover{color: var(--bg)}

.footer-social ul{
    text-align: right;
    float: right
}

.yt,
.insta,
.linked-in,
.twit{
    transition: color 0.3s;
    color: rgb(0, 0, 0);
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
}
.yt:hover{color: #ff0000;}

.twit:hover{color: #00aced;}

.linked-in:hover{color: #007bb5;}

.insta:hover{color: #517fa4;}


.signature{
    position: relative;
    text-align: center;
    margin-top:10vmax;
}

.signature p{
    font-weight: 400;
    font-size: 70%;
    line-height: 140%
}




